#nav {
    width: 60%;
   
    height: 30px;
    margin-bottom: 20px;

}
textarea {
    width: 95%;
}
textarea.txt {
    width: 95%;
    min-height: 200px;
}
.container2 {
    
    margin-top: 20%; 
    margin-left: 30%;
    margin-right: 30%;
    width: 20%;
    min-height: 200px;
    background: url(divdiv.jpg);
}
.container_notes {
    
    margin: auto;
    width: 60%;
    min-height: 1000px;
    background: url(parchment.png);
}
.notes_hdr {
    height:100px;
}
.note_title {
    margin: auto;
    
    margin-left:20%;
}
.note_single {
    
    margin: 20px;
    border-style: outset;
}
.note_text{
    margin: auto;
    
    margin-left:5%;
    margin-right: 15%;
}
body{
  background: url(library.jpg);
}

input[type=text], input[type=password] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}
header {
	max-height: 139px;
	max-width: 499px;
	
}
.modalbtn {
    margin-top: 10%;
    background-color: #405d27;
    padding: 14px 20px;
    
    min-width: 70%;
   
}
.modalbtn2 {
   
    background-color: #405d27;
    
    
    
   
}
.deletebtn {
    width: 15%;
    
    background-color: #563f46;
    float: right;
}
/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.signupbtn, .cancelbtn  {
  float: right;
  width: 50%;
}

/* Add padding to container elements */
.container {
    padding: 16px;
    
    max-width: 680px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 550px; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: url(parchment.png);
    position: fixed;
    top: 0;
    width: 59.5%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

